* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all;
}

h1 {
  font-size: 64px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h7 {
  font-size: 18px;
}

.body1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.body2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.caption {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.button-lg {
  font-size: 15px;
  line-height: 20px;
}

.buuton-sm {
  font-size: 13px;
  line-height: 16px;
}

body {
  padding: 170px 0 160px;
  background-image: linear-gradient(135deg, hsl(212deg, 86%, 34%) 0%, hsl(221deg, 36%, 57%) 9%, hsl(222deg, 36%, 70%) 20%, hsl(221deg, 39%, 81%) 33%, hsl(220deg, 34%, 78%) 48%, hsl(219deg, 29%, 68%) 62%, hsl(217deg, 26%, 57%) 75%, hsl(215deg, 29%, 45%) 86%, hsl(215deg, 27%, 38%) 94%, hsl(215deg, 24%, 29%) 99%, hsl(0deg, 0%, 14%) 100%);
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 1160px) {
  .container {
    width: 1144px;
  }
}

.hello__title {
  margin-left: 148px;
}
.hello__content {
  border-radius: 20px;
  background-color: rgba(145, 157, 181, 0.25);
  padding: 80px 148px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1160px) {
  .hello__content {
    flex-direction: row;
    align-items: normal;
  }
}
.hello__email {
  max-width: 255px;
  margin-bottom: 50px;
}
@media (min-width: 1160px) {
  .hello__email {
    margin-bottom: 0;
  }
}
.hello__form {
  max-width: 404px;
}

.email__title {
  margin-bottom: 20px;
}
.email__text {
  color: #6c707a;
  margin-bottom: 40px;
}
.email__link {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #1d2433;
  position: relative;
  background-color: #fefeff;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 32px 10px 16px;
  transition: 0.3s all;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
}
.email__link::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 16px;
  width: 8px;
  height: 16px;
  background-image: url(./img/icons/right.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px;
}
.email__link:hover {
  background-color: #f8f9fc;
  color: #4a505c;
}
.email__link:active {
  background-color: #e1e6ef;
  color: #6c707a;
}
.email__link:disabled {
  box-shadow: none;
}

.form__title {
  display: inline-block;
  color: #1d2433;
  font-weight: 700;
  margin-bottom: 20px;
}
.form__inputTitle {
  font-weight: 400;
  color: #fefeff;
  margin-bottom: 8px;
}
.form__input-group {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.form__input-group--error {
  position: absolute;
  display: none;
  text-align: right;
  width: 100%;
}
.form__input-group--error span {
  color: #fefeff;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.form__input-group--success {
  position: absolute;
  display: none;
  text-align: right;
  width: 100%;
}
.form__input-group--success span {
  color: #fefeff;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.form__input {
  width: 100%;
  height: 50px;
  padding: 10px 0px 10px 8px;
  border-radius: 8px;
  outline: none;
  border: none;
}
.form__input--message {
  height: 80px;
}
.form__input--wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.form__input--checkbox {
  margin-top: 30px;
  border-radius: 4px;
  margin-right: 10px;
}
.form__input--checkbox-text {
  margin-top: 30px;
  color: #6c707a;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.form__input::placeholder {
  font-weight: 400px;
  font-size: 14px;
  line-height: 20px;
  color: #4a505c;
}
.form__input:hover, .form__input:focus {
  transition: 0.3s all;
  border: 1px solid #1d5bd6;
}
.form__input--error {
  border: 1px solid #f8727d;
}
.form__input--error:hover, .form__input--error:focus {
  border: 1px solid #ba2532;
}
.form__input--error:hover + .form__input-group--error svg path, .form__input--error:focus + .form__input-group--error svg path {
  fill: #ba2532;
}
.form__input--success {
  border: 1px solid #0ea472;
}
.form__input--success:hover, .form__input--success:focus {
  border: 1px solid #04724d;
}
.form__input--success:hover + .form__input-group--success svg path, .form__input--success:focus + .form__input-group--success svg path {
  fill: #04724d;
}
.form__button {
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #1d2433;
  position: relative;
  background-color: #fefeff;
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 32px 10px 16px;
  transition: 0.3s all;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.5);
}
.form__button::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 16px;
  width: 8px;
  height: 16px;
  background-image: url(./img/icons/right.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px;
}
.form__button:hover {
  background-color: #f8f9fc;
  color: #4a505c;
}
.form__button:active {
  background-color: #e1e6ef;
  color: #6c707a;
}
.form__button:disabled {
  box-shadow: none;
}

/*# sourceMappingURL=main.css.map */
